.buscar_card{
    text-align: center;
}
.buscar_contenido{
    width: max-content;
    font-size: x-large;
}
table{
    margin: auto;
    width: 80%;
}
.conten_table{
    padding: 15px;
}
.tableitems{
    margin:auto;
    width: 80%;
}