<mat-tab-group headerPosition="below" class="grupo_tab" mat-align-tabs="center">
    <mat-tab class="conte_tab">
        <ng-template mat-tab-label class="titu_tab">
            <mat-icon class="example-tab-icon">roofing</mat-icon>
            INICIO
        </ng-template>
        <app-reloj></app-reloj>
        <app-tablejercard></app-tablejercard>
    </mat-tab>
    <mat-tab class="conte_tab">
        <ng-template mat-tab-label class="titu_tab">
            <mat-icon class="example-tab-icon">fact_check</mat-icon>
            ITEMS
        </ng-template>
        <app-buscar></app-buscar>
    </mat-tab>
    <mat-tab class="conte_tab">
        <ng-template mat-tab-label class="titu_tab">
            <mat-icon class="example-tab-icon">folder_shared</mat-icon>
            USUARIO
        </ng-template>
        <app-carduser></app-carduser>
    </mat-tab>
</mat-tab-group>