.example-card {
  max-width: 400px;
}
.center-content {
  margin-top: 100px;
  text-align: -webkit-center;
}
.example-full-width {
  margin-top: 25px;
  width: 100%;
}
.mat-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
}
.card-title{
  margin-top: 30px;
  letter-spacing: 1px;
  font-variant-caps: all-petite-caps;
  font-size: xx-large;
}