.botones-ejercicio-card{
    text-align: -webkit-center;
}
.ejercicio-header-image{
    background-color: aqua;
    height: auto;
    width: 30%;
}
.ejercicio-card{
    margin: 15px auto 15px auto;
    width: 80%;
}